In [ ]:
# install NumPy package

In [ ]:
# import numpy as np

In [ ]:
# jumlah tabungan (USD) dari 10 siswa di kelas XI IPA
tabungan = [500, 150, 350, 230, 450, 600, 780, 235, 980, 890]

# periode menabung (dalam bulan) dari masing-masing siswa
periode = [10, 5, 12, 10, 15, 14, 24, 12, 14, 19]

# rubah masing-masing list menjadi 1D numpy array
np_tabungan =

print()

In [ ]:
np_periode =

print()

In [ ]:
# Hitung jumlah rata-rata tabungan perbulan dari masing-masing siswa

tabungan_perbulan =

# print hasilnya dengan bilangan bulat menggunakan .round()

print()

In [ ]:
# Pilih nilai tabungan dari 5 siswa pertama yang ada pada array np_tabungan

five_student_saving = 

print()

In [ ]:
# jumlahkan tabungan 5 siswa tersebut, dan hitung rata-ratanya

average_five_student_saving = 

print()

In [ ]:
# jumlah tabungan (USD) dari 10 siswa di kelas XI IPA
tabungan = [500, 150, 350, 230, 450, 600, 780, 235, 980, 890]

# periode menabung (dalam bulan) dari masing-masing siswa
periode = [10, 5, 12, 10, 15, 14, 24, 12, 14, 19]

# dari ke-2 list ini, buatlah menjadi 2D NumPy array

tabungan_periode_new = 


np_tabungan_periode_new =

In [ ]:
# cek ada berapa jumlah row dan column yang ada pada array np_tabungan_periode

In [ ]:
# Koreksi np_tabungan_periode menjadi 10 row dan 2 column
# pada column pertama berisi nilai tabungan dan column kedua periode menabung
np_tabungan_periode_new =

In [ ]:
# dari np_tabungan_periode_new subset data pada row teratas dari column kedua

In [ ]:
# dari np_tabungan_periode_new pilih semua data pada row dari column pertama

In [ ]:
# hitung rata-rata dari periode lama siswa menabung